.wrapper {
 /*window height minus header bar height*/
 height: calc(100vh - 7.3rem);
 background: #f4f4f4;
 border-right: 1px solid #908e89;
}

.nav-links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.wrapper-expanded {
  composes: wrapper;
}

.wrapper-expanded :global(.label-expanded) {
  width: 9.2rem;
}
