<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Discreet Menu animations and interactions with React and CSS modules.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>React Menu Animations</title>
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
